name: im_shapes
description: null
version: 0.1.0
homepage: https://twitter.com/imujtaba8488
repository: https://github.com/imujtaba8488/package_im_shapes.git
issue_tracker: https://github.com/imujtaba8488/package_im_shapes/issues

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter


dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  # assets:
  #   - assets/
